body {
    background: #4ae;
    color: #000040;
}

#kontener {
    background: #ffffff;
    width: 90%;
    box-shadow: 0 0 8px #666;
    margin: auto;
    font-size: 110%;
}

h1,
h2,
footer {
    background: #000040;
    color: #77b4ff;
    text-align: center;
    font-family: calibri, tahoma, serif;
    line-height: 1.5;
    margin-bottom: 0;
}

h3 {
    margin-left: 13px;
    margin-top: 10px;
    padding: 10px 0 0 0;
}

ul {
    list-style-type: square;
}

#tresc {
    height: 100%;
    width: 95%;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: 30px;
    background: #80ffff;
    border: 0 solid #000040;
    border-radius: 1px;
    box-shadow: 0 0 2px #666;
}

#tresc p {
    padding: 0 0 0 20px;
}

/* General form styling */
form {
    font-family: Arial, sans-serif;
    margin: 10px;
}

/* Style the label element */
div#labelled label {
    display: block;
    margin-top: 2px;
    margin-bottom: 0;
}

/* Style the input elements */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
    width: 20%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input#beneficiaries\ list {
    width: 22%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input[type="number"] {
    width: 5%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input#card\ number {
    width: 9%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input#monthYear {
    width: 4%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input[type="text"]#year {
    width: 5%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input[type="text"]#cvv {
    width: 2.5%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form input[type="text"]#donor {
    width: 15%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form select {
    width: 20%;
    padding: 2px;
    margin-bottom: 1px;
    margin-left: 70px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

/* przycisk wyślij */
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* zmiana przycisku wyślij przy hoverowaniu kursorem */
form input[type="submit"]:hover {
    background-color: #45a049;
}

fieldset {
    background: #c6f0ff;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 4px #666;
    width: unset;
}

legend {
    padding: 2px 4px;
    background: #ffffff;
    color: darkblue;
    font-weight: bold;
    border: 1px solid #000040;
    border-radius: 8px;
    box-shadow: 0 0 4px #666;
}

nav {
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma, serif;
    margin-top: 0%;
    margin-bottom: 1%;
}

nav ul li {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: darkblue;
    margin-left: 3px;
}

nav ul li:hover {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: #ffffff;
    margin-left: 3px;
}

nav ul li:hover a {
    color: black;
}

nav ul li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
    color: #ffffff;
}

nav ul li li a {
    width: 160px;
    background: dodgerblue;
}

nav ul li a:hover {
    color: black;
    background: white;
}

nav ul li ul {
    overflow: hidden;
    display: none;
}

nav ul li:hover ul {
    position: absolute;
    padding: 0;
    display: block;
    width: 177px;
}

footer {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}