#miniaturki img {
    -webkit-box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 1);
    height: auto;
    width: 300px;
    margin: 7% 0 7% 0;
    transition: transform 0.3s;
}

#miniaturki {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

img:hover {
    transform: scale(1.05);
}

h3#galeria {
    text-align: center;
    margin: 0;
}

p{
    margin-left: 2%;
}

@media screen and (max-width: 720px) {
    #miniaturki img {
        width: 85%;
        height: 10%;
    }
}