body {
    background: #4ae;
    color: #000040;
}

#kontener {
    background: #ffffff;
    width: 98%;
    box-shadow: 0 0 8px #666;
    margin: auto;
    font-size: 110%;
}



h1, h2, footer {
    display: inherit;
    background: #000040;
    color: #77b4ff;
    text-align: center;
    font-family: calibri, tahoma, serif;
    line-height: 1.5;
    margin-bottom: 0;
    order: 0;
}

h3 {
    margin-left: 13px;
    margin-top: 10px;
    padding: 0;
}

main {
    display: inherit;
    width: 85%;
    height: 100%;
    /*margin-bottom: 30px;*/
    /*margin-left: 30px;*/
    margin-left: auto;
    margin-right: auto;
    background: #80ffff;
    border: 1px solid #95fdff;
    border-radius: 8px;
    box-shadow: 0 0 2px #666;
    order: 1;
}


main p {
    padding: 0 0 0 20px;
}

h3#galeria {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 160%;
    font-weight: bolder;
    color: #1989ff;
    font-family: calibri, tahoma, serif;
}

#miniaturki {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
}

#miniaturki a {
    text-decoration: none;
    color: inherit;
}

#miniaturki img {
    width: 100%;
    height: auto;
    border: 2px solid #c6f0ff;
    border-radius: 5px;
}

ul {
    list-style-type: square;
}

aside {
    /*order: 2;*/
    width: 12%;
    padding: 1%;
    text-align: left;
}


fieldset {
    background: skyblue;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 8px #666;
    width: unset;
}

legend {
    padding: 2px 4px;
    background: #44aaee;
    color: darkblue;
    font-weight: bold;
    border: 1px solid #000040;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
}

*.box {
    background: #0000a0;
    color: #dbffff;
    padding: 5px;
    margin: 2%;
    font-size: 90%;
    border: 1px solid #c6f0ff;
    box-shadow: 0 0 6px #666;
    border-radius: 8px;
}

/* hiperłącza w elementach klasy box*/
*.box a {
    color: #ffffb0
}

nav {
    order: 1;
    flex-basis: 100%;
    /*text-align: left;*/
    /*overflow: hidden;*/
    font-family: calibri, tahoma, serif;
    margin-top: 0;
    margin-bottom: 1%;
}

nav ul li {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    /*float: left;*/
    background: darkblue;
    margin-left: 3px;
}

nav ul li:hover {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    /*float: left;*/
    background: #ffffff;
    margin-left: 3px;
}

nav ul li:hover a {
    color: black;
}

nav ul li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
    color: #ffffff;
}

nav ul li li a {
    width: 160px;
    background: dodgerblue;
}

nav ul li a:hover {
    color: black;
    background: white;
}

nav ul li ul {
    overflow: hidden;
    display: none;
}

nav ul li:hover ul {
    position: absolute;
    padding: 0;
    display: block;
    width: 177px;
}

footer {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}
