body {
    background: #d4c7b9;
    height: auto;
}

h1, h2, footer {
    padding: 0.2em;
    text-align: center;
}

.srodek {
    text-align: center;
}

nav {
    float: left;
    width: 100%;
}

nav, footer {
    background: #45525a;
    color: #ffe9ba;
    border-radius: 10px;
}

nav a {
    float: left;
    display: block;
    width: 23%;
    padding: 1%;
    font-size: 110%;
    color: #ffe9ba;
    text-align: center;
}

section {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.slajd {
    float: left;
    display: block;
    width: 13%;
    text-align: center;
    border-radius: 10px;
    background: #ffe9ba;
    padding: 1% 0.5%;
    margin: 1%;
}

.slajd:hover {
    background: #45525a;
}

footer {
    clear: both;
}

.galeria {
    margin: auto;
    width: 90%;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 4.5vw;
    }

    nav a {
        width: 100%;
        padding: 15px 0;
        font-size: 160%;
    }

    .slajd {
        width: 100%;
        margin-bottom: 20px;
    }

    h1, h2 {
        font-size: 6vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    body {
        font-size: 13px;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape) {
    body {
        background-color: #6a4936;
        font-size: 1.3em;
    }
    h1, h2 {
        color: #ffe9ba;
    }
    p {
        font-size: 1.2em;
        color: #d4c7b9;
    }
    nav {
        background-color: #ac946d;
    }
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 1.5em;
    }
    h1, h2 {
        /*font-size: 1.2em;*/
    }
    p {
        font-size: 1.2em;
    }
    nav {
        font-size: 1.4em;
    }

}