body {
    background: #4ae;
    color: #000040;
}

#kontener {
    background: #ffffff;
    width: 90%;
    box-shadow: 0 0 8px #666;
    margin: auto;
    font-size: 110%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, #stopka {
    background: #000040;
    color: #77b4ff;
    text-align: center;
}

h3#galeria {
    padding: 0;
    text-align: center;
    font-size: 130%;
}

ul{
    list-style-type: square;
}

#tresc {
    float: left;
    width: 75%;
    height: 70vh;
    padding:  30px 0 0 30px;
    background: #80ffff;
    border: 0 solid #000040;
    border-radius: 1px;
    /*font-size: 110%;*/
    /*box-shadow: 0 0 2px #666;*/
}

#pasek {
    float: right;
    width: 20%;
    padding: 1%;
}


fieldset {
    background: skyblue;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 8px #666;
    width: unset;
}

legend {
    padding: 2px 4px;
    background: #44aaee;
    color: darkblue;
    font-weight: bold;
    border: 1px solid #000040;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
}

*.box {
    background: #0000a0;
    color: #dbffff;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
}

/* hiperłącza w elementach klasy box*/
*.box a {
    color: #ffffb0
}

#nav {
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma, serif;
}

ul#nav li {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: darkblue;
    margin-left: 3px;
}

ul#nav li:hover {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: #ffffff;
    margin-left: 3px;
}

ul#nav li:hover a {
    color: black;
}

ul#nav li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
    color: #ffffff;
}

ul#nav li li a {
    width: 160px;
    background: dodgerblue;
}

ul#nav li a:hover {
    color: black;
    background: white;
}

ul#nav li ul {
    overflow: hidden;
    display: none;
}

ul#nav li:hover ul {
    position: absolute;
    padding: 0;
    display: block;
    width: 177px;
}

#stopka {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}
