body {
    background: #4ae;
    color: #000040;
}

#kontener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background: #ffffff;
    width: 98%;
    box-shadow: 0 0 8px #666;
    margin: auto;
    font-size: 110%;
}

header{
    text-align: center;
    font-family: calibri, tahoma, serif;
    margin-top: 0;
    order: 0;
    width: 100%;
}

h1, h2, footer {
    background: #000040;
    width: 100%;
    color: #77b4ff;
    text-align: center;
    font-family: calibri, tahoma, serif;
    line-height: 1.7;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    margin-left: 13px;
    margin-top: 10px;
    padding: 0;
}

main {
    flex: 5;
    order: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2%;
    background: #80ffff;
    border: 1px solid #95fdff;
    border-radius: 8px;
    box-shadow: 0 0 2px #666;
}

main p {
    padding: 0 0 0 20px;
}

h3#galeria {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 160%;
    font-weight: bolder;
    color: #1989ff;
    font-family: calibri, tahoma, serif;
}

#miniaturki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

#miniaturki a {
    text-decoration: none;
    color: inherit;
}

#miniaturki img {
    width: 100%;
    height: auto;
    border: 2px solid #c6f0ff;
    border-radius: 5px;
}

ul {
    list-style-type: square;
}

aside {
    display: flex;
    flex: 1;
    order: 2;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma, serif;
    padding: 0;
    margin-bottom: -2%;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    background: darkblue;
    margin-left: 3px;
    margin-bottom: 5px;
}

nav ul li:hover {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    background: #ffffff;
    opacity: 1;
}

nav ul li:hover a{
    color: black;
}

nav a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    color: #ffffff;
    font-size: 110%;
}

ul.nav_expanding{
    background: white;
    margin: 0;
    opacity: 0.98;
}

ul.nav_expanding li:hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #c6f5ff;
    border: 1px solid #d5d5d5;
}

ul.nav_expanding li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #c6f5ff;
    border: 1px solid #d5d5d5;
}

nav ul li li a {
    width: 160px;
    color: white;
}

nav ul li a:hover {
    color: black;
    background: white;
}

nav ul li ul {
    overflow: hidden;
    display: none;
    width: 177px;
}

nav ul li:hover ul {
    position: absolute;
    padding: 0;
    display: block;
}

*.box {
    background: #0000a0;
    color: #dbffff;
    margin: 1%;
    font-size: 90%;
    border: 1px solid #c6f0ff;
    box-shadow: 0 0 6px #666;
    border-radius: 8px;
    padding: 0;
}

/* hiperłącza w elementach klasy box*/
*.box a {
    color: #ffffb0
}

footer {
    flex: none;
    order: 5;
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

@media (max-width: 470px)  {

}